/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/********************************/
/******* START OF MY CODE *******/
/********************************/

/* .main-wrapper {
    margin: 0 auto;
    width: 1000px;
} */

a {
    text-decoration: none;
}

body {
    background-color: #fff;
}

/* NAVIGATION BAR */
#navbar_main {
    background-color: #2E4272;
    font-family: arial;
}

header nav ul li {
    list-style: none;
}

#nav_home_btn {
    font-size: 16px;
    color: #FFF;
    line-height: 45px;
    
}

#navbar_login_and_signup {
    padding-top: 10px;
    justify-content: flex-end;
}

#navbar_login_and_signup form {
    /* float: left; */
}

/* input boxes */
#navbar_login_and_signup form input {
    width: 140px;
    height: 30px;
    padding: 0px 10px; 
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    background-color: #eee;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

.nav_button:hover {
    background-color: #ccc;
}

#nav_home_btn img:hover {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.1);
}

#nav_signup_btn {
    /* margin-left: 10px; */
}

/* index.php */

.index {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

#index_message_form {
    text-align: right;
}

#message {
    resize: none;
}

#index_message_form,
#index_friends_list {
    margin: 10px;
}

#index_message_form button {
    margin-top: 10px;
    margin-bottom: -10px;
}

.index_results {
    margin: 10px;
    overflow: hidden;
}
.index_results:hover {
    overflow: visible;
}

/*  */

.main_container {
    padding-top: 65px;
}

.main_container h2 {
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
}

/* signup.php */
#signup_header {
    text-align: center;
}

#signup_header p {
    margin-top: -5px;
    font-size: 16px;
} 

#signup_form,
#signup_login_main {
    background-color: #fff;
    width: 400px;
    margin: 20px auto;
    padding: 20px 20px 1px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#signup_login_main {
    padding: 25px;
}

#signup_form input {
    width: 100%;
    height: 40px;
    padding: 0px 5%; 
    margin-bottom: 4px;
    border: none;
    background-color: #fafafa;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

#signup_form button {
    display: block;
    margin: 20px auto; /* Button is centered */
}

#signup_form button:hover {
    background-color: #111;
}

.input {
    border-radius: 8px;
}

/*  */

body {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;

}

body main {
    width: 100%;
    max-width: 1024px;
    height: auto;
    min-height: 100vh;
    position: relative;
    margin: auto;
}

main::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}